<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<style>
    .breadcrumb{
        margin-top: 6.3em;
    }
</style>
<body>
<div th:replace="fragments :: navbar"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" id="pastorTab" aria-current="page">Pastor Johnson</li>
        <li class="breadcrumb-item active" id="firstLadyTab" aria-current="page">First Lady</li>
        <li class="breadcrumb-item active" aria-current="page">Family</li>
        <li class="breadcrumb-item active" aria-current="page">Message</li>
        <li class="breadcrumb-item active" aria-current="page">Book Recommendations</li>
    </ol>
</nav>

<h1>About Page</h1>
<div class="aboutContainer"></div>


<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: scripts"></div>
<script th:src="@{/js/about.js}"></script>
</body>
</html>